* {
    padding: 10;
    margin: 10;
    /*box-size:border-box;*/
     text-align: center;
}
      
        #container {
            width: 600px;
			 text-align: center;
            vertical-align: center;
            margin: 10 auto;
            margin-top: 0px;
        }
        .tabs {
            display: table-cell;
            width: 40%;
            background-color: #e6eeee;
            padding: 18px;
            float: left;
            text-align: center;
            vertical-align: center;
            border: 1px solid rgb(5, 4, 4);
       
            color: #000;
        }
        .tabs:hover, p{
            cursor: pointer;
        }

        #lt {
            background-color:#969090;
        }
        #cont {
            width: 100%;
            height: 300px;
            background-color: #b9bab9;

            border: 1px solid #000;
        }

        input{
            display: block;
            width: 350px;
            margin: 8px 16px;
            padding: 10px;
            font-size: 1.3em;
            color: rgba(11, 177, 224, 0.82);
            outline: 2px solid #000;
        }

        input[type="submit"] {
            width: 372px;
            color: #000;
        }

        #clear {
            clear: both;
        }

        .comm {
            position: absolute;
            visibility: hidden;
        }
        #login {
            visibility: visible;
        }

        h3 {
            display: table-cell;
            vertical-align: middle;
            padding: 10px 15px;
            font-size: 1.5em;
  text-align: center;
            color: #000;
        }

        #forgot h3 {
            display: block;
            margin-top: 50px;
            text-align: center;
        }

        #forgot div {
            margin-top: 10px;
        }
       
		
		#se h4 {
            display: block;
            margin-top: 50px;
            text-align: center;
        }


     .hr {
  padding: 80px;
  text-align: center;
  background: #187018f1;
  color: white;
}

.hr h1 {
  font-size: 40px;
}




.content {
  max-width: 500px;
  margin: auto;

  padding: 10px;
}